<!doctype html>
<html>
  <head><meta charset="utf-8"><title>Hero</title></head>
  <body>
    <p><strong>${model.name}</strong> is my hero!</p>
    <p>My hero has ${helpers.int(model.nFriends)} friends.</p>
  </body>
</html>
